on:
  push:
    branches: [main]
  pull_request:

name: Continuous integration

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        mcu:
          - gd32f130x4
          - gd32f130x6
          - gd32f130x8
          - gd32f150x4
          - gd32f150x6
          - gd32f150x8
        rust:
          - stable
        include:
          - rust: nightly
            mcu: gd32f130x8
            experimental: true

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          target: thumbv7m-none-eabi
          override: true
      - uses: actions-rs/cargo@v1
        with:
          command: check
          args: --features=${{ matrix.mcu }},rt --examples
